.dingduan{
	background: #f2f2f2;
	width: 100%;
	height: 1.06rem;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.36rem;
	box-sizing: border-box;
}

.dingduan div{
	font-size: 0.30rem;
}
	
.dingduan img{
	width: 0.64rem;
	height: 0.64rem;
}
.shangpin{
	width: 100%;
	height: 1.188rem;
	background: #000000;
}
.mainn{
	height: 100%;
	width: 100%;
	padding-top: 1.72rem;
}
.neirong{
	width: 100%;
	height: 100%;
	padding-bottom: 1.92rem;
	padding-top: 1.06rem;
}
.guwuchexiangqing{
	width: 100%;
	height: 4rem;
	padding: 0.6rem 0;
	box-sizing: border-box;
}
.guwuchexiangqing-zuo{
	width: 1rem;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.yuan{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.guwuchexiangqing-zhong{
	width: 3rem;
	height: 100%;
	float: left;
	border: 1px solid #eee;
	box-sizing: border-box;
}
.guwuchexiangqing-zhong img{
	width: 100%;
	height: 100%;
}
.guwuchexiangqing-you{
	width: 6.4rem;
	height: 100%;
	float: right;
}
.guwuchexiangqing-you-zi{
	width: 100%;
	height: 33.3333%;
	font-size: 0.39rem;
	color: #666;
}
.shoujia{
	width: 100%;
	height: 33.3333%;
	font-size: 0.35rem;
	color: #999;
	padding: 0.3rem 0;
	box-sizing: border-box;
}
.jiayi{
	width: 100%;
	height: 33.3333%;
	background: #fff;
}
.jiayi-left{
	width: 40%;
	height: 100%;
	border: 1px solid #eee;
	box-sizing: border-box;
	float: left;
}
.jiayi-left-jian{
	width: 33.3333%;
	height: 100%;
	background: red;
	line-height: 100%;
}
.shanchu{
	width: 0.9rem;
	height: 100%;
	float: right;
	margin-right: 0.5rem;
	box-sizing: border-box;
}
.shanchu-icon{
	font-size: 1rem;
	line-height: 100%;
	text-align: center;
}
.neirong .denglu{
	width: 100%;
	height: 1.57rem;
	display: flex;
	justify-content: space-between;
	padding: 0 0.34rem;
	line-height: 1.57rem;
}
.neirong .denglu .zuo{
	font-size: 0.43rem;
}
.neirong .denglu .you{
	font-size: 0.34rem;
}
.neirong .gouwukong{
	height: 1.79rem;
	width: 100%;
	background: #ebebeb;
	padding: 0 0.34rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.34rem;
}
.neirong .gouwukong img{
	width: auto;
	height: 1.12rem;
}
.neirong .gouwukong .wenzia{
	padding: 0 0.2rem;
	color: #ababab;
}
.neirong .gouwukong .wenzib{
	padding: 0 0.1rem;
	border: 0.02rem solid #c8c8c8;
}
.chatu img{
	width: 100%;
	height: 1.82rem;
}
.neirong .wupin{
	width: 100%;
	height: 7.2rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.4rem;
}
.neirong .wupin>div{
	width: 49%;
	height: 100%;
	
}
.neirong .wupin img{
	width: 5.34rem;
	height: 5.34rem;
}

